*cache*
.git
.idea/
calvin_debug_dataset/
utils/arnold_info.json
**/*.png
**/*.pkl
**/*.md
**/*.ipynb
**/*.log
**/*.txt
**/*.json
**/*.ttf
*pycache*
demo/
*pth
*upload*
*wandb*
*configs*
**npy**

outputs/
ckpts/
logs/
datasets/
src/
pretrained_models/OpenFlamingo-3B-vitl-mpt1b-langinstruct
pretrained_models/llava-v1.6-vicuna-7b
pretrained_models/